# q1

In [7]:
my_name = 'Ben'

print(my_name)

Ben

# q2

In [2]:
my_id = 123

print(my_id)

123

# q3

In [3]:
my_id_str = '123'

print(my_id_str)

123

# q4

Does not work, can't add string and integer. Must be same type.

# q5

In [8]:
print(my_name+my_id_str)

Ben123

Works because both are strings.

# q6

In [10]:
string1 = 'hello, world. This is my first python string.'
print(string1.split('.'))

['hello, world', ' This is my first python string', '']

# q7

In [14]:
str_list = ['a','b','c','d','e']
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

# q8

In [12]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [13]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [15]:
print(str_list[2])

c

# q11

In [16]:
num_list = [12, 32, 43, 35]
print(str_list+num_list)

['a', 'b', 'c', 'd', 'e', 12, 32, 43, 35]

Works because both are lists. Same type of data.

# q12

In [20]:
my_dict = {'name': 'Ben', 'id': my_id}
print(my_dict)

{'name': 'Ben', 'id': 123}

# q13

In [21]:
my_dict['name']='Carroll'
print(my_dict)

{'name': 'Carroll', 'id': 123}

# q14

In [25]:
print(my_dict['id'])

123

# q15

In [26]:
my_dict['id']='234'
print(my_dict)

{'name': 'Carroll', 'id': '234'}

# q16

In [27]:
my_dict['num_list'] = num_list
print(my_dict)

{'name': 'Carroll', 'id': '234', 'num_list': [12, 32, 43, 35]}

Creates a new key named num_list and assigned the value of num_list to it. Then printed the entire my_dict

# q17

In [32]:
print(min(num_list))
print(max(num_list))

12
43